<h2>Account Login</h2>

<form action="/users/login" method="post">
  <label>Username</label>
  <input type="text" placeholder="Username" name="username">
  <label>Password</label>
  <input type="password" placeholder="Password" name="password">
  <button type="submit">Submit</button>
</form>
