<h2>Register</h2>

{{#if errors}}
  {{#each errors}}
    <div class="errormsg">{{msg}}</div>
  {{/each}}
{{/if}}

<form action="/users/register" method="post">
  <label>Name</label><br>
  <input type="text" placeholder="Name" name="name"><br><br>
  <label>Username</label><br>
  <input type="text" placeholder="Username" name="username"><br><br>
  <label>Email</label><br>
  <input type="email" placeholder="Email" name="email"><br><br>
  <label>Password</label><br>
  <input type="password" placeholder="Password" name="password"><br><br>
  <label>Confirm Password</label><br>
  <input type="password" placeholder="Password" name="password2"><br><br>
  <button type="submit">Submit</button>
</form>
